body {
    background-image: url(/images/bk.jpg);
    background-size: cover;
}

form{
    height: 500px;
    width: 300px;
    margin:auto;
    background-color: rgba(128, 128, 128, 0.195);
    border-radius: 10px;
    
}