body {
    background-image: url(/images/bkBlurry.jpg);
    background-size: cover;
  
}

form{
    height: 500px;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.195);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 7%;
    
}