body {
    background-image: url(/images/bkBlurry.jpg);
    background-size: cover;
}

form{
    height: 400px;
    width: 330px;
    background-color: rgba(100, 98, 98, 0.099);
    border-radius: 10px;
    border: 0;
    margin: 0 auto;
    margin-top: 7%;
    
}

form p.legendary{
    color: white;
    font-weight: bolder;
    display: inline-block;
    margin-top: 10%;
    
}

form p#signin{
margin-left: 10%;
}

form p#signin :hover{
    color: white;
}

form p#signup{
    padding: 5px;
}

form p.labels{
    font-size: smaller;
    font-weight: bold;
    color: white;
    margin-left: 10%;
}